.container {
  border: 2px solid;
  width: 400px;
  height: 150px;
  cursor: pointer;
  transition: 0.2s;
}
.container:hover {
  box-shadow: 0px 0px 5px black;
  transform: scale(1.03);
}
.widthContainer {
  border: 2px solid;
  width: 200px;
  height: 150px;
  cursor: pointer;
  transition: 0.2s;
}
